<nav>
  <div class="row">
    <div class="boton-crear">
      <button id="id_boton_crear" class="btn btn-link" (click)="crear()">Crear</button>
    </div>
    <div class="boton-listar">
      <button id="id_boton_listar" class="btn btn-link" (click)="listar()">Listar</button>
    </div>
    <div class="boton-listar">
      <button id="id_boton_listar_disponibles" class="btn btn-link" (click)="listarDisponibles()">Listar Disponibles</button>
    </div>
    <div class="boton-listar">
      <button id="id_boton_listar_rentados" class="btn btn-link" (click)="listarRentados()">Listar Rentados</button>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>