.login-container {
    text-align: center;
    margin-top: 200 px
}

.form-container {
    width: 400 px;
    margin: 0 px auto;
    margin-top: 200 px
}

mat-form-field {
    display: block
}

button {
    margin-bottom: 10px;
}